@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@layer components {
    .clerk-avatar-box + div p {
        @apply text-primary;
    }
    .clerk-profile-section-content p {
        @apply text-primary;
    }
    .clerk-accordion-trigger-button p {
        @apply text-primary;
    }
    .clerk-accordion-content p {
        @apply text-primary !important;
    }
    .clerk-accordion-content > div > div > div > p {
        @apply text-muted-foreground !important;
    }
    .clerk-user-preview-main-identifier span {
        @apply text-primary !important;
    }
    .clerk-select-options-container * {
        @apply text-primary !important;
    }
}

.SheetOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(20, 20, 20, 0.1);
    backdrop-filter: blur(8px);
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(20, 20, 20, 0.1);
  backdrop-filter: blur(8px);
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
